<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<umbraCodeFirst>
    <synchronization enabled="false" />
    <pageFactory enabled="true">
        <mappings>
            <!--<add nodeTypeAlias="AliasForDocumentType"
                 type="FullyQualifiedTypeName, AssemblyName" />-->
        </mappings>
    </pageFactory>
</umbraCodeFirst>